* {
box-sizing: border-box


  }

body {
background: linear-gradient(#615dad, #ffc8da);
background-attachment: fixed;  


.nadpis {
    font-family: "Lobster";
    font-size: 60px;
    color: white;
    text-align: center;    
    }


  /*uvod*/

.playing {
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  margin: 0.5rem;
 padding-left: 5rem;
 
}
}
  
 
 .opening {
  display: flex;
  justify-content:center;
  margin-left: 50%;
  margin-right: 50%;
 }


 .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

 .plate {
  display: flex;
  justify-content: center;
  
 }

 .plate button {
  border: 2px solid black;
  width: 60px;
  height: 60px;
  cursor: pointer;
  }

  .plate button:hover {
    background-color: white;
  }
  
  /*.circle {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 3px solid white;
  }*/

  

.homebutton {
  width: 2rem;
  height: 2rem;
  background-color: #1fcca4;
}

.homebutton:hover {
  background-color: #1cbb96;
}

.restartbutton {
  width: 2rem;
  height: 2rem;
  background-color: #0197f6;
}

.restartbutton:hover {
  background-color: #0090e9;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
  padding: 3rem;
  border-radius: 20%;

}

.board__field--cross {
  background-image: url("cross.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.board__field--circle {
  background-image: url("circle.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}
 /* 
.playing {
  display: flex;
  margin: 0.2rem;
  padding: 0.2rem;
  justify-content: flex-end;
}*/